@charset "UTF-8";

body {font-size: 15px;}

.scroll_m {min-width: 310px; overflow-x: auto; padding-bottom: 30px; box-sizing: border-box;}
.btn {position: relative; width: 100%; text-align: center; padding: 20px 0;}
.btn button {width: 120px; height: 40px; border: 1px solid #ddd; background: #f5f5f5; margin: 0 15px;}
.btn_area {position: relative; width: 100%; text-align: center; padding: 30px 0;}
.btn_area button {width: 100px; height: 40px; border: 1px solid #ddd; background: #f5f5f5; margin: 0; vertical-align: middle;}

header {position: fixed; z-index: 10; top: 0; left: 0; width: 100%; height: 70px; background: #fff; padding: 0; box-sizing: border-box; box-shadow: 0 1px 10px 0px #ccc;}
header > .wrap {position: relative; width: 100%; height: 100%; }
header > .wrap .logo {position: absolute; left: 10px; top: 50%; transform: translateY(-50%); width: 150px; height: auto;}
header > .wrap .right {position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 200px; height: 40px; line-height: 40px;}
header > .wrap .right span {display: none;}
header > .wrap .right a {display: none;}
header > .wrap .right .menu_m {display: block; position: absolute; top: 50%; transform: translateY(-50%); right: 10px; width: 30px; height: 30px; background: none;}
header > .wrap .right .menu_m img {width: 100%; height: 100%; }
header > .wrap .right .homepage {display: none;}

.nav_bg {display: none; position: fixed; width: 100%; height: 100vh; background: #000; opacity: 0.5; z-index: 10;}
nav {position: fixed; z-index: 11; top: 0px; left: -80%; width: 80%; height: 100vh; background: #efefef; overflow-y: auto;}
nav a:hover {background: #ddd; text-decoration: none;}
nav > .nav_m {display: block; position: relative; width: 100%; height: 100px;}
nav > .nav_m .homepage {display: block; position: relative; top: 30px; left: 50%; transform: translateX(-50%); width: 170px; height: 40px; background: #ffd906; border-radius: 50px; font-size: 0.9em; font-weight: 600;}
nav > .nav_m span {position: relative; left: 10px; top: 10px; font-size: 0.9em;}
nav > .nav_m a {position: relative; top: 10px; float: right; margin-right: 10px; font-size: 0.9em}
nav > ul {position: relative; width: 100%; height: auto; padding: 10px; box-sizing: border-box;}
nav > ul > li {position: relative; width: 100%; height: auto; border-bottom: 1px solid #ddd; box-sizing: border-box;}
nav > ul > li > a {width: 100%; height: 100%; padding: 10px 10px; box-sizing: border-box;}
nav > ul > li ul {display: ; position: relative; left: 0; width: 100%; height: auto; padding-left: 10px; box-sizing: border-box; font-size: 0.9em;}
nav > ul > li ul li {position: relative; width: 100%; height: auto;}
nav > ul > li ul li a {width: 100%; height: 100%; padding: 10px;box-sizing: border-box;}

section {position: relative; top: 70px; width: 100%; height: auto; padding: 5px; box-sizing: border-box;}
section article {position: relative; width: 100%; margin: 0;}
section article .wrap {position: relative; width: 100%; height: auto;}
section article .search {display: inline-block; position: relative; left: 50%; transform: translateX(-50%); width: 100%; height: 40px; margin-top: 10px;}
section article .search select {width: 81px; height: 100%; padding: 0 10px; font-size: 0.8em;}
section article .search .search_input {display: inline-block; position: relative; width: calc(100% - 85px); height: 100%; border: 1px solid #ddd; box-sizing: border-box;}
section article .search input {width: 90%; height: 100%; margin: 0 1%; border: 0;}
section article .search button {position: absolute; top: 7px; right: 5px; width: auto; height: 30px; background: none;}
section article .search button img {width: auto; height: 100%;}
section article .tab_menu_m {display: block; margin: 10px 0; width: 100%;}
section article .tab_menu_m select {border: 2px solid #ffd906;}


/* Login */

section.login {padding: 0;}
section.login article {top: 30%;}
section.login form {text-align: center;}
section.login .wrap {display: inline-block; width: auto;}
section.login table {width: auto; margin: 0 auto;}
section.login table th {font-size: 0.9em; height: 50px; padding: 5px 15px; box-sizing: border-box; text-align: left;}
section.login table td {font-size: 0.9em; height: 50px; padding: 5px; box-sizing: border-box; text-align: left;}
section.login table td input {width: 100%; height: 100%;}
section.login .btn {text-align: center; margin-top: 10px;}
section.login .btn button {width: 100%; height: 40px; border: 1px solid #ddd; background: #f5f5f5; margin: 0;}


/* Join */

.join {max-width: 800px;}
.join input {height: 40px;}
.join .phone td {text-align: left;}
.join .phone select {width: 150px;}
.join .phone input {width: 150px;}
.join .email td {text-align: left;}
.join .email select {width: 150px;}
.join .email input {width: 150px;}


/* Member */

section article.member .tab_menu {display: none;}
.member_info form table th {border: 0;}
.member_info form table td {border: 0; padding: 5px 2px;}
.member_info form table td select {padding: 0 10px; font-size: 1em;}
.member_info .amount {position: relative; width: 100%; height: auto;}
.member_info .amount table {position: relative; width: 100%; height: auto;}
.member_info .amount table td {border: 0;}
.member_info .amount table th {border: 0;}
.member_info .amount table:first-child td {font-size: 0.8em; padding: 5px; text-align: center;}
.member_info .amount table:first-child td label {width: 100%; font-weight: 600;}
.member_info .amount table:first-child td input {width: 100%; height: 40px;}}
.member_info .amount table:last-child td {height: 50px; padding: 5px 5px; box-sizing: border-box; font-size: 0.9em;}
.member_info .amount table:last-child td label {width: 100%; text-align: left; padding-right: 10px; box-sizing: border-box;}
.member_info .amount table:last-child td input {width: 100%; height: 40px; text-align: center;}
.member_info .amount table:last-child td button {width: 100%; height: 40px; border: 1px solid #ddd; background: #f5f5f5; position: absolute; left: 0; bottom: 5px;}

.member_baby .baby_sel {position: relative; width: auto; height: 40px;}
.member_baby .baby_sel li {float: left; position: relative; width: 100px; height: 100%; margin: 0; box-sizing: border-box; text-align: center; line-height: 40px; border: 1px solid #ddd;}
.member_baby .baby_sel li a {width: 100%; height: 100%;}
.member_baby form fieldset legend {font-size: 1.1em; font-weight: 600; padding: 10px 25px;}
.member_baby table th {font-size: 0.9em; border: 0;}
.member_baby table td {font-size: 0.8em; border: 0; padding: 5px; text-align: left;}
.member_baby table td input {width: 100%; height: 40px;}
.member_baby table .trouble input {width: 88%;}
.member_baby table .trouble input.r_input {position: absolute; left: -9999px;}
.member_baby table .trouble label {position: relative; width: 49%; height: 40px; line-height: 18px; border: 1px solid #ccc; text-align: center; margin: 2px 0; padding: 0 5px; box-sizing: border-box;}
.member_baby table .trouble label span {position: relative; top: 50%; transform: translateY(-50%);}
.member_baby input:checked + label.check {border: 1px solid #ffd906;}
.member_baby table.week td {font-size: 0.75em; padding: 2px; text-align: center;}
.member_baby table.week td input {width: 100%; padding: 0;}
.member_baby table.week .btn_edit button {position: absolute; left: 2px; bottom: 2px; height: 40px;}

.member_goods table {width: 1000px;}
.member_goods table td:first-child.review p {width: 90px; text-align: center;}
.member_goods table td:nth-child(6).review p {width: 345px;}
.member_goods_sub table tr:nth-child(2) td {text-align: center;}
.member_goods_sub table .on {background: #efefef;}

.member_hospital table {width: 1000px;}
.member_hospital table p {text-align: center;}
.member_hospital table td:nth-child(1).review p {width: 89px;}
.member_hospital table td:nth-child(5).review p {width: 410px;}
.member_hospital table tbody td:nth-child(5) {text-align: left; padding: 0 10px; box-sizing: border-box;}

.other_menu {position: relative; width: 100%; height: 80px; line-height: 40px;}
.other_menu li {float: left; position: relative; width: 25%; height: 40px; margin: 0; box-sizing: border-box; text-align: center; line-height: 40px; border: 1px solid #ddd;}
.other_menu li.on {background: #ddd;}
.other_menu li a {width: 100%; height: 100%;}
.member_other {position: relative; width: 100%; height: auto;}
.member_other table {width: 700px;}
.member_other table p {text-align: center; padding: 0 10px;}
.member_other table .review p {width: 100px;}
.member_other table .nick p {width: 120px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.member_other_one table td:nth-child(1) p {width: 50px;}
.member_other_one table td:nth-child(2) p {width: 50px;}
.member_other_one table td:nth-child(3) p {width: 320px; text-align: left;}
.member_other_two table td:nth-child(1) p {width: 70px;}
.member_other_two table td:nth-child(2) p {width: 70px;}
.member_other_two table td:nth-child(3) p {width: 300px; text-align: left;}
.member_other_three table td:nth-child(1) p {width: 110px;}
.member_other_four table td:nth-child(1) p {width: 80px;}
.member_other_five table td:nth-child(1) p {width: 108px;}
.member_other_five table td:nth-child(2) p {width: 380px; text-align: left;}
.member_other_six table td:nth-child(1) p {width: 108px;}
.member_other_six table td:nth-child(2) p {width: 380px; text-align: left;}
.member_other_point table td:nth-child(4) p {width: 100px;}
.member_other_point table td:nth-child(5) p {width: 120px; text-align: left;}


/* Home */

.admin_home .tab_menu ul li {font-size: 0.8em; line-height: 15px;}
.admin_home .tab_menu ul li a {height: auto; position: relative; top: 50%; transform: translateY(-50%);}
.left {text-align: left;}
.admin_home .btn_box {text-align: left;}
.admin_home .btn_box button {height: 35px; background: #f5f5f5; border: 1px solid #ddd; vertical-align: middle; padding: 0 10px;}
.admin_home .btn_box button img {width: auto; height: 15px;}
.admin_home input {height: auto;}
.admin_home .home3 label {margin-right: 0;}
.admin_home_low table li {float: left; width: 16.6%; height: 40px; padding: 3px; box-sizing: border-box;}
.admin_home_low table li a {width: 100%; height: 100%; border: 1px solid #ddd; line-height: 34px;}
.admin_home_low table td:nth-child(3) {}
.admin_home .home6 td.left input {height: 40px;}


/* DB */

.hospitalDB_DB .scroll_m {margin-top: 10px;}
.DB_DB .tab_menu {margin: 10px 0; height: 40px;}
.DB_DB .tab_menu ul li {width: 32%; margin: 0 2px; line-height: 38px; font-size: 0.9em;}
.DB_DB .sort {height: 60px;}
.DB_DB .sort {position: relative; height: 60px;}
.DB_DB .sort ul {display: block; position: relative; width: auto; top: 5px; left: 0; transform: none;}
.DB_DB .sort .excel {width: 250px;}
.DB_cate .sel_area {position: relative; left: 150px; width: 100%; height: auto; margin-bottom: 20px;}
.DB_cate .sel_area > div {position: relative; width: 100%; height: 40px; padding: 5px 0; box-sizing: border-box;}
.DB_cate .sel_area > div select {position: relative; width: 150px; height: 100%; vertical-align: middle;}
.DB_cate .sel_area > div button {position: relative; width: 100px; height: 100%; vertical-align: top;}
.DB_cate .box_grade {position: relative; width: 100%; height: auto; font-size: 0.9em;}
.DB_cate .box_grade .quest {position: relative; width: 100%; height: 35px; line-height: 35px;}
.DB_cate .box_grade .quest span {position: relative; width: 150px; height: 100%; float: left; text-align: center;}
.DB_cate .box_grade .quest p {position: relative; width: calc(100% - 200px); height: 100%; float: left; border: 1px solid #ccc; padding: 0 10px;}
.DB_cate .box_grade .ans {position: relative; width: 100%; height: auto; padding: 8px 0; box-sizing: border-box;}
.DB_cate .box_grade .ans .ex {position: relative; left: 150px; width: calc(100% - 300px); height: auto;}
.DB_cate .box_grade .ans .confirm {position: absolute; right: 28px; top: 10px; width: 120px;  height: 40px; border: 1px solid #ddd; background: #f5f5f5;}
.DB_cate .box_grade .ans input.a_input {position: absolute; left: -9999px;}
.DB_cate .box_grade .ans label {position: relative; width: 130px; height: 40px; line-height: 18px; border: 1px solid #ccc; text-align: left; margin: 2px 0; padding: 0 5px; box-sizing: border-box;}
.DB_cate .box_grade .ans label span {position: relative; top: 50%; transform: translateY(-50%);}
.DB_cate input:checked + label.check {border: 1px solid #ffd906;}
.DB_cate .box_rev {position: relative; width: 100%; height: auto; font-size: 0.9em;}
.DB_cate .box_rev dt {position: relative; width: 100%; height: 35px; line-height: 35px; text-align: center;}
.DB_cate .box_rev dd {position: relative; left: 150px; width: calc(100% - 300px); height: auto; float: left; box-sizing: border-box;}
.DB_cate .box_rev dd select {width: 130px; height: 40px; border: 1px solid #ccc; text-align: left; margin: 2px 0; padding: 0 5px; box-sizing: border-box;}
.DB_cate .box_rev .btn_add {position: absolute; right: 28px; top: 35px; width: 120px;  height: 40px; border: 1px solid #ddd; background: #f5f5f5;}
.DB_cate .btn_wrap {position: relative; width: 100%; text-align: center; padding-top: 10px;}
.DB_cate .btn_wrap .btn_save {position: relative; width: 200px; height: 40px; border: 1px solid #ddd; background: #f5f5f5; }

.DB_review .category {position: relative; width: 100%; height: 30px; line-height: 30px;}
.DB_review .category select {position: relative; width: 150px; height: 100%;}
.DB_review .filter {position: relative; width: 100%; height: auto; margin: 20px 0;}
.DB_review .filter dl {position: relative; width: 100%; height: auto; margin: 10px 0; font-size: 0.9em;}
.DB_review .filter dl dt {position: relative; width: 100%; height: 35px; line-height: 35px; padding: 0 20px;}
.DB_review .filter dl dt button {width: 20px; height: 20px; vertical-align: middle; margin: 0 10px; border: 1px solid #ddd; background: none;}
.DB_review .filter dl dd {position: relative; width: 100%; height: auto;}
.DB_review .filter dl dd input.r_input {position: absolute; left: -9999px;}
.DB_review .filter dl dd label {position: relative; width: 130px; height: 40px; line-height: 18px; border: 1px solid #ccc; text-align: center; margin: 2px 0; padding: 0 5px; box-sizing: border-box;}
.DB_review .filter dl dd label span {position: relative; top: 50%; transform: translateY(-50%);}
.DB_review input:checked + label.check {border: 1px solid #ffd906;}
.DB_review .filter .btn_wrap {position: relative; width: 100%; text-align: center; padding-top: 10px;}
.DB_review .filter .btn_wrap .btn_save {position: relative; width: 200px; height: 40px; border: 1px solid #ddd; background: #f5f5f5; }


/* Sort */

.sort {height: 60px; margin-top: 10px;}
.sort ul {left: 50%; transform: translateX(-50%); width: auto; margin: 0 auto;}
.sort ul li {line-height: 40px; font-size: 0.8em;}
.sort ul li.line {margin: 0 2px;}
.sort button {width: 100px;}
.sort .excel {display: inline-block; position: absolute; top: 0; right: 0; width: 204px;}


/* Goods DB */

.DB_DB table {width: 1000px;}
.DB_DB_sub table {width: 1000px;}
.DB_DB_sub table td {padding: 5px 10px; text-align: left;}
.DB_DB_sub table td.input_box .input_box_wrap {position: relative; width: 85%; height: auto;}
.DB_DB_sub table td.input_box button.add {position: absolute; top: 6px; right: 0; width: 100px; height: 40px; border: 1px solid #ccc;}

.goodsDB_DB_sub table.pc {display: none;}
.goodsDB_DB_sub table.mobile {display: table;}
.goodsDB_category form {width: 100%;}
.DB_cate .sel_area {left: 0; margin-bottom: 0; margin-top: 20px;}
.DB_cate .box_grade .quest {height: 70px;}
.DB_cate .box_grade .quest span {width: 100%; text-align: left; height: 35px;}
.DB_cate .box_grade .quest p {width: 100%; height: 35px; box-sizing: border-box;}
.DB_cate .box_grade .ans .ex {left: 0; width: 100%;}
.DB_cate .box_grade .ans .ex label {width: 100px;}
.DB_cate .box_grade .confirm {display: none;}
.DB_cate .box_rev dd {left: 0; width: 100%;}
.DB_cate .box_rev dd select {width: 100px;}
.DB_cate .box_rev .btn_add {display: none;}
.DB_cate .box_rev .btn_add_m {display: inline-block; width: 100px;  height: 40px; border: 1px solid #ddd; background: #f5f5f5;}
.DB_review .category {margin-top: 10px;}
.DB_review .filter {margin: 0;}
.DB_review .filter dl dt {box-sizing: border-box;}
.DB_review .filter dl dd label {width: 100px;}


/* Admin_Review */

.admin_review .tab_menu {margin: 10px 0; height: 40px;}
.admin_review .tab_menu ul li {width: 31.5%; margin: 0 2px; line-height: 38px; font-size: 0.9em;}
.admin_review .wrap .sort {height: 70px;}
.admin_review .wrap .sort ul {width: auto; margin-top: 30px;}
.admin_review .wrap .sort ul li {line-height: 20px;}
.admin_review .wrap .sort .excel {width: 210px; left: 0;}
.admin_review .wrap .sort .excel button {width: 100px;}
.admin_review_goods_sub .wrap .sort {height: 20px;}
.admin_review_goods_sub .wrap .sort ul {margin: 0; left: 0; transform: none;}
.admin_review .wrap table {width: 1000px;}
.admin_review .wrap table th {font-size: 0.8em}
.admin_review .wrap table td {font-size: 0.8em}
.admin_review .wrap table .review p {width: 227px;}
.admin_review .wrap table .abb p {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: left;}
.admin_review .wrap table .userid p {width: 48px;}
.admin_review .wrap table .email p {width: 108px;}
.admin_review .wrap table .nick p {width: 88px;}
.admin_review .wrap table .goodsid p {width: 48px;}
.admin_review .wrap table .btn_confirm button {border: 1px solid #ccc; background: #f5f5f5; padding: 1px 3px;}
.admin_review .wrap table caption {position: relative; width: 100%; padding: 10px; text-align: left; box-sizing: border-box;}

.admin_review_sub table {width: 1000px;}
.admin_review_sub table td {text-align: left; padding: 0 20px;}
.admin_review_goods_sub table:first-child .review p {width: 775px;}
.admin_review_goods_sub table:last-child .review p {width: 430px;}


/* Com */

.admin_com .tab_menu {margin: 10px 0; height: 40px;}
.admin_com .tab_menu ul li {width: 31.5%; margin: 0 2px; line-height: 38px; font-size: 0.9em;}
.admin_com .sort {height: 30px;}
.admin_com .sort ul {width: auto; height: 30px; margin: 0; left: 0; transform: none;}
.admin_com table {width: 1000px;}
.admin_com table td a:hover {text-decoration: underline;}
.admin_com table td select {width: 100%; height: 100%;}
.admin_com table td:nth-child(1).review p {width: 100px;}
.admin_com table td:nth-child(2).review p {width: 150px;}
.com_sel table td:nth-child(1).review p {width: 175px;}
.com_sel table td:nth-child(2).review p {width: 175px;}

.com_event_sub .list {position: relative; width: 100%; height: auto;}
.com_event_sub .pop {z-index: 1; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 300px; height: 150px; background: #fff; border: 2px solid #ffd906;}
.com_event_sub .pop .txt_box {position: relative; width: 100%; height: 100px;}
.com_event_sub .pop .txt_box p {position: relative; top: 50%; transform: translateY(-50%); width: 100%; text-align: center;font-size: 0.9em;}
.com_event_sub .pop .btn_box {position: absolute; bottom: 0; width: 100%; height: 50px; text-align: center;}
.com_event_sub .pop .btn_box button {width: 120px; height: 35px; background: none; border: 1px solid #ddd;}
.com_event_sub .pop .btn_box button:hover {background: #eee;}
.com_event_sub table caption {position: relative; width: 100%; height: 50px; line-height: 40px; padding: 5px 10px; box-sizing: border-box; text-align: left;}
.com_event_sub table caption button {position: absolute; right: 10px; width: 150px; height: 40px;  border: 1px solid #ccc; background: #f5f5f5; }


/* Ranking */

.admin_ranking .sub_menu {position: relative; width: 100%; height: 66px; font-size: 0.9em;}
.admin_ranking .sub_menu li {float: left; position: relative; width: 25%; height: 33px; margin: 0; box-sizing: border-box; text-align: center; line-height: 30px; border: 1px solid #ddd;}
.admin_ranking .sub_menu li.on {background: #ddd;}
.admin_ranking .sub_menu li a {width: 100%; height: 100%;}

.admin_ranking .tab_menu ul li {margin: 0 1px; width: 24%; font-size: 0.8em; line-height: 15px;}
.admin_ranking .tab_menu ul li a {position: relative; top: 50%; transform: translateY(-50%); height: auto;}

.admin_ranking .sort > div {position: relative; width: 100%; height: 40px; padding: 5px 0; box-sizing: border-box;}
.admin_ranking .sort .cate select {width: 49%; height: 100%;}
.admin_ranking .sort .rank_search input {width: 70%; height: 100%;}
.admin_ranking .sort .rank_search button {width: 28%; height: 100%; border: 1px solid #ddd; background: #f5f5f5; vertical-align: middle;}
.admin_ranking .sort .date {position: absolute; right: 0; bottom: 0;}
.admin_ranking .sort .date span {vertical-align: middle; font-size: 0.9em;}
.admin_ranking .sort .date button {width: 50px; height: 100%; border: 1px solid #ddd; background: #f5f5f5;}
.admin_ranking .excel_down {margin-top: 0;}

.ranking_high table td:nth-child(2).review p {width: 80px;}
.ranking_high table td:nth-child(3).review p {width: 130px;}
.ranking_all table td:nth-child(2).review p {width: 80px;}
.ranking_all table td:nth-child(3).review p {width: 130px;}
.ranking_low table td:nth-child(2).review p {width: 80px;}
.ranking_low table td:nth-child(3).review p {width: 130px;}

.ranking_official table th {border: 0;}
.ranking_official table td {text-align: left; border: 0;}
.ranking_official table td input {width: 70px; height: 100%;}
.ranking_official table td select {width: 200px;}
.ranking_official dl {position: relative; width: 100%; height: auto; font-size: 0.9em; margin-top: 20px; line-height: 25px;}
.ranking_official dl span {color: red; font-weight: 600;}
.ranking_official dl dt {font-size: 1.1em; margin: 10px 0;}

.admin_ranking .sort {height: 80px;}
.admin_ranking .sort .date {position: relative; left: 0;}
.ranking_all table {width: 1000px;}
.ranking_high table {width: 1000px;}
.ranking_low table {width: 1000px;}
.ranking_high .sort {height: 120px;}
.ranking_low .sort {height: 120px;}


/* Award */

.admin_award .mobile {display: table;}
.admin_award .pc {display: none;}
.admin_award .new_add {position: relative; width: 100%; height: 40px;}
.admin_award .new_add button {position: relative; left: 0; width: 150px; height: 40px; border: 1px solid #ddd; background: #f5f5f5;}
.admin_award table {width: 1000px;}
.admin_award .review p {width: 480px; text-align: left;}

.admin_award .scroll_m .mobile {width: 100%;}
.admin_award .add_area {width: 100%; padding: 0; margin-top: 0;}
.admin_award .add_area .input_wrap {width: 70%;}
.admin_award .add_area .input_wrap input {width: 24%; height: 40px; margin: 0;}
.admin_award .add_area button {position: absolute; top: 0; right: 0; width: 29%; height: 40px; border: 1px solid #ddd; background: #f5f5f5;}


/* Fame */

.admin_fame .tab_menu ul li {width: 30%; font-size: 0.9em;}

.admin_fame .sort {height: 70px;}
.admin_fame .sort ul {height: 35px;}
.admin_fame .sort ul li {line-height: 17px; font-size: 0.8em;}
.admin_fame .sort .fame_search {position: relative; top: 0; width: auto; height: auto;}
.admin_fame .sort .fame_search input {width: 150px; height: 30px;}
.admin_fame .sort .fame_search button {width: 100px; height: 30px; border: 1px solid #ddd; background: #f5f5f5; vertical-align: middle;}

.fame_ranking .wrap table th {border: 0;}
.fame_ranking .wrap table td {text-align: left; border: 0;}
.fame_ranking .wrap table td input {width: 70px; height: 100%;}
.fame_ranking .wrap table td select {width: 200px;}
.fame_ranking .wrap dl {position: relative; width: 100%; height: auto; font-size: 0.9em; margin-top: 20px; line-height: 25px;}
.fame_ranking .wrap dl dt {font-size: 1.1em; margin: 10px 0;}

.hall_of_fame table {width: 1000px;}


/* Notice */

.admin_notice .tab_menu ul li {width: 30%;}
.admin_notice .sort {height: 30px;}
.admin_notice .sort ul {left: 0; transform: none;}

.admin_notice table {width: 1000px;}
.admin_notice_alarm table td.review p {width: 450px;}
.admin_notice_notice table td.review p {width: 600px;}
.admin_notice_sub .sort {height: 55px;}
.admin_notice_sub .sort li {margin-right: 0; float: none; line-height: 18px;}
.admin_notice_sub .sort li input {height: 13px;}
.admin_notice_sub table td input {margin-right: 10px;}


/* Request */

.admin_request .sort {height: 30px;}
.admin_request .sort ul {left: 0; transform: none;}
.admin_request table td:nth-child(3).review p {width: 110px;}
.admin_request table td:nth-child(4).review p {width: 450px; text-align: left;}


/* ASK */

.admin_ask .sort {height: 130px;}
.admin_ask .sort ul {margin-top: 0; left: 0; transform: none;}
.admin_ask .ask_type {width: 100%; height: auto;}
.admin_ask .ask_type table th {border: 0;}
.admin_ask .ask_type table td {border: 0;}
.admin_ask .ask_type table select {width: 100%; height: 100%;}
.admin_ask .ask_type table input {width: 100%; height: 100%;}
.admin_ask .ask_type table button {width: 100%; height: 100%; border: 1px solid #ddd; background: #f5f5f5;}

.admin_ask table td.review p {width: 420px; text-align: left;}
.admin_ask_sub table td {text-align: left; padding: 0 10px; box-sizing: border-box;}


/* AD */

.admin_ad .tab_menu ul li {width: 24%; font-size: 0.85em; margin: 0 1px;}
.admin_ad .sort {height: 30px;}
.admin_ad .sort ul {left: 0; transform: none;}
.admin_ad .sort button {position: absolute; top: 0; right: 0; width: 100px; height: 100%; border: 1px solid #ddd; background: #f5f5f5;}
.admin_ad table caption button {position: absolute; top: 0; right: 0; width: 100px; height: 40px; border: 1px solid #ddd; background: #f5f5f5;}
.admin_ad_main table td.review p {width: 170px;}
.admin_ad_main_new .find_img {position: relative; width: 100%; height: 35px;}
.admin_ad_main_new .find_img input {position: absolute; left: 0; width: 72%; height: 100%;}
.admin_ad_main_new .find_img button {position: absolute; right: 0; background: #f5f5f5; border: 1px solid #ddd; height: 35px; padding: 0 10px; vertical-align: middle;}
.admin_ad_db .scroll {position: relative; width: 1000px; overflow-x: auto; padding-bottom: 30px; box-sizing: border-box;}
.admin_ad_db table {margin-top: 10px; width: 1200px;}
.admin_ad_db table td:nth-child(1) p {width: 90px;}
.admin_ad_db table td:nth-child(2) p {width: 120px;}
.admin_ad_db table td:nth-child(3) p {width: 100px;}
.admin_ad_db table td:nth-child(4) p {width: 100px;}
.admin_ad_search .sort {height: 35px;}
.admin_ad_search .sort button {position: relative;}
.admin_ad_search .sort button img {width: auto; height: 15px;}
.admin_ad_search .sort button.updown {width: 35px;}
.admin_ad_brand .sort {height: 35px; }
.admin_ad_brand .sort ul {width: 205px;}
.admin_ad_brand .sort ul li {line-height: 17px;}


/* Brand */

.admin_brand .sort {height: 80px;}
.admin_brand .sort .search {border: 1px solid #ddd;}
.admin_brand .sort ul {margin-top: 0;}
.admin_brand table {margin-top: 10px;}
.admin_brand table th {height: 40px; text-align: center; border: 1px solid #eee; font-size: 0.9em;}
.admin_brand table td {height: 40px; text-align: center; border: 1px solid #eee; font-size: 0.9em; padding: 5px 5px; box-sizing: border-box;}
.admin_brand table td.review p {width: 148px;}
.admin_brand table td.input_box {text-align: left;}
.admin_brand table td.input_box input {width: 120px; height: 100%; box-sizing: border-box;}
.admin_brand table td.input_box button {width: 15px; height: 15px; background: none; border: 1px solid #ccc; box-sizing: border-box; vertical-align: middle; margin-right: 15px;}
.admin_brand .txt_box {margin: 20px 0;}
.admin_brand .btn {position: relative; width: 100%; height: 40px; text-align: center; margin: 20px 0;}
.admin_brand .btn button {width: 200px; height: 40px; border: 1px solid #ddd; background: #f5f5f5; margin: 0 15px;}


/* Stats */

.admin_stats .tab_menu ul li {width: 24%; margin: 0 1px; font-size: 0.85em;}
.admin_stats .wrap {overflow-x: auto; padding-bottom: 30px; box-sizing: border-box;}
.admin_stats .sort {height: 30px;}
.admin_stats .sort ul {left: 0; transform: none;}
.admin_stats form {width: auto;}
.admin_stats fieldset {width: auto;}
.admin_stats table {margin-top: 10px; width: 3000px;}
.admin_stats table th {height: 40px; text-align: center; border: 1px solid #eee; font-size: 0.9em;}
.admin_stats table td {height: 40px; text-align: center; border: 1px solid #eee; font-size: 0.9em; padding: 5px 5px; box-sizing: border-box;}
.admin_stats table td.review p {width: 148px;}
